.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow-y: hidden;
}

.homediv {
  width: 100%;
  height: auto;
  overflow-x: scroll;
}

.homeh1name {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homenamedetails {
  width: 68%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ececec;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.homenamedetails div {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.homenamedetails div h3 {
  margin: 0;
}

.homeh1name h1:first-child {
  font-size: 14em;
  /* letter-spacing: 0.3em; */
  margin: 0;
  color: aliceblue;
  font-family: 'Protest Guerrilla', sans-serif;
}

.homeh1name h1:nth-child(2){
  font-size: 14em;
  /* letter-spacing: 0.3em; */
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.homeabout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutsec {
  width: 90%;
  height: 70vh;
  /* border: 4px solid white; */
  border-radius: 1em;
  background-image: url('../public/aboutbg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10%;
  /* box-shadow: 15px 15px #a8a4a4; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

#aboutsec1 {
  padding: 0.2em 2em;
  width: 45%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#aboutsec1 h2 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: 'Protest Guerrilla', sans-serif;
  border-radius: 0.7em;
  padding: 0.5em 1em;
}

#aboutsec1 p {
  color: rgb(255, 255, 255);
}

.sec1categories {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.categ {
  border-left: 3px solid rgb(0, 44, 165);
  border-right: 3px solid rgb(0, 44, 165);
  width: 45%;
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
}

.categ h4 {
  margin: 0 1em;
  display: inline;
  color: rgb(220, 223, 236);
  background-image: linear-gradient(45deg, rgb(32, 32, 32), rgb(0, 0, 0));
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Protest Guerrilla', sans-serif;
  letter-spacing: 1px;
  padding: 0.1em 0.4em;
  border: none;
  outline: none;
  border-radius: 0.2em;
}

.categ p {
  font-family: 'Poppins', sans-serif;
  margin-left: 0.4em;
  font-weight: 600;
  color: #fff;
}

#aboutsec2 {
  width: 38%;
  height: 73%;
  background-image: url('../public/aboutpic.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  border-radius: 0.9em;
}

.homework {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.worksec {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.workhead {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 5;
}

.workhead h2 {
  color: rgb(255, 255, 255);
  border: 3px white solid;
  font-size: 1.8em;
  font-family: 'Protest Guerrilla', sans-serif;
  border-radius: 0.7em;
  padding: 0.5em 1em;
  display: inline;
  margin: 0;
}

.worklists {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 3em 0;
  z-index: 5;
}

.work1 {
  background-image: url('../public/uiuxwork.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vh;
  height: 60vh;
  border-radius: 1em;
  transition: all 600ms;
}

.work1:hover {
  width: 50vh;
  height: 70vh;
  transform: perspective(2000px) rotateX(40deg) rotateY(30deg) rotateZ(-30deg);
  box-shadow: -15px 20px 30px #ececec;
  border: 3px rgb(244, 245, 235) solid;
  border-radius: 1em;
  margin: 0;
}

.work1:hover .worklists {
  padding: 0em;
}

.work1:hover .workhead h2 {
  margin: -9em;
}

.work2 {
  background-image: url('../public/mapwork.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vh;
  height: 60vh;
  border-radius: 1em;
  transition: all 600ms;
}

.work2:hover {
  width: 50vh;
  height: 70vh;
  transform: perspective(2000px) rotateX(40deg);
  box-shadow: 0px 20px 30px wheat;
  border: 3px rgb(250, 242, 226) solid;
  border-radius: 1em;
}

.work3 {
  background-image: url('../public/chatappwork.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vh;
  height: 60vh;
  border-radius: 1em;
  transition: all 600ms;
}

.work3:hover {
  width: 50vh;
  height: 70vh;
  transform: perspective(2000px) rotateX(40deg) rotateY(-30deg) rotateZ(30deg);
  box-shadow: 15px 20px 30px rgb(11, 122, 61);
  border: 3px rgb(0, 255, 13) solid;
  border-radius: 1em;
}

.homesocials {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.socialssec {
  width: 80%;
  height: 45%;
  border: solid 0.3em rgb(151, 121, 190);
  background-image: linear-gradient(to right, #8F00FF98, #00A3FF18);
  border-radius: 2em;
  background-position: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socialcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialcontainer h5 {
  color: #ececec;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px;
}

.socialmodels {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialicons {
  color: #ececec;
  font-size: 2.1em;
  transition: all 500ms;
}

.socialmodels:hover {
  transform: perspective(2000px) rotateX(40deg);
}

.socialmodels:hover .socialicons {
  transform: translateY(-20px) scale(1.3);
}

#soc1:hover {
  border: double 0.5em transparent;
  background-image: linear-gradient(#000000, #00000000), 
                    linear-gradient(to right, #0059ff, #00A3FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#soc2:hover {
  border: double 0.5em transparent;
  background-image: linear-gradient(#000000, #00000000), 
                    linear-gradient(to right, #2c7c06, #bbbe0a);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#soc3:hover {
  border: double 0.5em transparent;
  background-image: linear-gradient(#000000, #00000000), 
                    linear-gradient(to right, #26a8ff, #3f3f3d);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@media screen and (max-width: 420px) {
  .homeh1name h1:first-child {
    font-size: 4em;
  }

  .homeh1name h1:nth-child(2) {
    font-size: 4em;
  }

  .homenamedetails {
    width: 90%;
    font-size: 0.6em;
    letter-spacing: 0.8px;
  }

  #aboutsec1 {
    width: 100%;
  }

  .sec1categories {
    width: 100%;
    flex-direction: column;
    gap: 1.5em;
  }
  
  .categ {
    border: solid 0.1em rgb(151, 121, 190);
    background-image: linear-gradient(to right, #8F00FF98, #00A3FF18);
    border-radius: 10px;
    width: 99%;
  }

  .aboutsec {
    width: 100%;
    height: 70vh;
    /* border: 4px solid white; */
    border-radius: 1em;
    background-color: #000000;
    background-image: none;
    /* box-shadow: 15px 15px #a8a4a4; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
  }
  
  .socialssec {
    width: 90%;
    height: fit-content;
    padding: 1.5em 0;
    border-radius: 1.5em;
    flex-direction: column;
    justify-content: center;
  }

  .socialmodels {
    width: 5em;
    height: 5em;
  }

  .worklists {
    width: 98%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    z-index: 8;
  }
  
  .work1 {
    border: solid 0.2em rgb(151, 121, 190);
    width: 38vh;
    transition: none;
  }

  .work2 {
    border: solid 0.2em rgb(151, 121, 190);
    width: 38vh;
    transition: none;
  }

  .work3 {
    border: solid 0.2em rgb(151, 121, 190);
    width: 38vh;
    transition: none;
  }

  .homework {
    height: 200vh;
    margin: 3em 0
  }

  .worklists {
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
  }
}